{% extends "_base.html" %}
{%load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<div class="container">
    <form method="post" >
            <fieldset>
                <legend>Sign Up</legend>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Sign Up</button>
        </fieldset>
        </form>
        <p>Already have an account <a href="{% url 'account_login' %}">Log In</a></p>
</div>
{% endblock content %}