Django
django-bootstrap5
django-browser-reload
psycopg2-binary
whitenoise
pytz
django-crispy-forms
crispy-bootstrap5
django-allauth # advanced user registraton
environs[django] #package for env variables 
