{% extends "_base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1>This is our home page.</h1>
    {% if user.is_authenticated %}  
        {% now "H" as current_hour %}
        {% if current_hour|date:"G" < 12 %}
            <p>Good morning <strong>{{ user.username }}!</strong></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% elif current_hour|date:"G" < 18 %}
            <p>Good afternoon <strong>{{ user.username }}!</strong></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p>Good evening <strong>{{ user.username }}!</strong></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            
        {% endif %}
    {% else %}
        {% now "H" as current_hour %}
        {% if current_hour|date:"G" < 12 %}
            <p>Good morning, Visitor! You are not logged in. Please <a href="{% url 'login' %}">login</a> to continue.</p>
        
        {% elif current_hour|date:"G" < 18 %}
            <p>Good Afternoon, Visitor! You are not logged in. Please <a href="{% url 'login' %}">login</a> to continue.</p>
        
        {% else %}
            <p>Good Evening, Visitor! You are not logged in. Please <a href="{% url 'login' %}">login</a> to continue.</p>
        {% endif %}

    {% endif %}

{% endblock content %}