{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container">
    <h1>This is our home page.</h1>
    <img class="bookcover" src="{% static 'images/darkroom.jpg' %}">
    {% if user.is_authenticated %}  
        {% now "H" as current_hour %}
        {% if current_hour|date:"G" < 12 %}
            <p>Good morning <strong>{{ user.username }}!</strong></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% elif current_hour|date:"G" < 18 %}
            <p>Good afternoon <strong>{{ user.username }}!</strong></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p>Good evening <strong>{{ user.username }}!</strong></p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            
        {% endif %}
    {% else %}
        {% now "H" as current_hour %}
        {% if current_hour|date:"G" < 12 %}
            <p>Good morning, Visitor! You are not logged in. Please <a href="{% url 'login' %}">login</a> to continue.</p> ||
            <a href="{% url 'signup' %}">Sign Up</a>
        {% elif current_hour|date:"G" < 18 %}
            <p>Good Afternoon, Visitor! You are not logged in. Please <a href="{% url 'login' %}">login</a> to continue.</p> ||
            <a href="{% url 'signup' %}">Sign Up</a>
        {% else %}
            <p>Good Evening, Visitor! You are not logged in. Please <a href="{% url 'login' %}">login</a> to continue.</p> ||
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}

    {% endif %}
</div>
{% endblock content %}